{% extends 'gturnos/plantilla-base.html' %}

{% block titulo %}Detalle MEDICO{% endblock %}

{% block principal %}
	<h1>Detalle MEDICO</h1>
	
		<div class="panel panel-primary">
			<div class="panel-heading">

				<h3 class="panel-title"> Detalle</h3>
				</div>	
				<div class="panel-body">
					{{ med.dni }}
					{{ med.apellido }}
					{{ med.nombres }}
					{{ med.sexo }}
					{{ med.domicilio }}
					{{ med.telefono }}
					{{ med.fecha_nac }}
					{{ med.mat_profesional }}	
					{{ med.organizaciones.nombre }}				
				</div>
		</div>
		<a href="{% url 'medico_all' %}" class="btn btn-sm btn-primary">Listar</a>
	
{% endblock %}