{% extends 'gturnos/plantilla-base.html' %}

{% block titulo %}Nuevo MEDICO{% endblock %}

{% block css %}
<link href="/static/css/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"> 
<link href="/static/css/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">										
<link href="/static/css/datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">	
<link href="/static/css/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/static/css/datepicker/css/bootstrap-datepicker3.standalone.css" rel="stylesheet">
<link href="/static/css/datepicker/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">
{% endblock %}
    
{% block javascript %}
<script src="/static/js/datepicker/js/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	
	$('#sandbox-container input').datepicker({
	});
});
</script>
{% endblock %}
  
{% block principal %}
	<h1>Nuevo MEDICO</h1>

	<div class="span5 col-md-5" id="sandbox-container"><input type="text"></div>
{% endblock %}