{% extends 'gturnos/plantilla-base.html' %}

{% block titulo %}Detalle de HISTORIAS{% endblock %}

{% block principal %}
	<h1>Detalles de HISTORIAS</h1>
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Detalle</h3>
				</div>	
				<div class="panel-body">
					{{ his.diagnotico }}
					{{ his.tratamiento }}
					{{ his.fecha_historia }}
					
				</div>
		</div>	
		<a href="{% url 'historia_all' %}" class="btn btn-sm btn-primary">Listar</a>
	
{% endblock %}