{% extends 'gturnos/plantilla-base.html' %}

{% block titulo %}Detalle PACIENTE{% endblock %}

{% block principal %}
	<h1>Detalle PACIENTE</h1>
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Detalle</h3>
				</div>	
				<div class="panel-body">
					{{ pac.dni }}
					{{ pac.apellido }}
					{{ pac.nombres }}
					{{ pac.domicilio }}
					{{ pac.telefono }}
					{{ pac.fecha_nac }}
					{{ pac.altura }}
					{{ pac.peso }}
					{{ pac.fecha_inicio }}										
					{{ pac.perimetro_enc }}
					{{ pac.sexo.descripcion }}
				</div>
		</div>	
		<a href="{% url 'paciente_all' %}" class="btn btn-sm btn-primary">Listar</a>
	
	
{% endblock %}